{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div class="collection" {{ block('widget_container_attributes') }}>
            {{ form_errors(form ) }}

            <table width="100%">
                <thead>
                    <tr>
                        <th style="width: 3%;">##</th>
                        <th style="width: 28%;">Comprobante </th>
                        <th style="width: 28%;">Vencimiento </th>
                        <th style="width: 28%;">Importe </th>
                        <th>Acción</th>

                    </tr>

                </thead>
                <tbody class="items">
                {% for rows in form %}
                    <tr>
                        {% set fieldNum = 1 %}
                        <td>?</td>
                        {% for row in rows %}

                            <td>
                                <div class="field{{ fieldNum }}">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                                {% set fieldNum = fieldNum + 1 %}
                            </td>
                        {% endfor %}
                        <td width="110px" style="text-align: center;">
                            <button class="btn btn-mini btn-danger remove" data-coleccion-remove-btn="">
                                <span class="icon-trash icon-white"></span> Quitar
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}


            <div class="clear"></div>

            <button class="btn btn-mini add_item" style="margin-top: 13px;" data-coleccion-add-btn="">
                <span class="icon-plus-sign"></span> Agregar
            </button>


        </div>

        <div class="clear"></div>

    {% endspaceless %}
    {#{{ block('collection_js') }}#}
{% endblock collection_widget %}


{% block collection_item_widget %}
    {% spaceless %}

        <tr>
            {% set fieldNum = 1 %}
            <td style="text-align: center;">
                <div class="active">
                <span class="icon-zoom-in "></span>
                </div>
            </td>
            {% for row in prototype %}
                <td>
                    <div class="field{{ fieldNum }}">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>
                </td>
                {% set fieldNum = fieldNum + 1 %}

            {% endfor %}
            <td width="110px" style="text-align: center;">
                <button class="btn btn-mini btn-danger remove" data-coleccion-remove-btn="">
                    <span class="icon-trash icon-white"></span> Quitar
                </button>
            </td>
        </tr>

    {% endspaceless %}

{% endblock collection_item_widget %}

{% block collection_js %}


{% endblock collection_js %}


