{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div class="collection" {{ block('widget_container_attributes') }}>
            {{ form_errors(form ) }}

            <table width="100%">
                <thead>
                    <tr>
                        <th style="width: 3%;">##</th>
                        <th style="width: 28%;">Comprobante </th>
                        <th style="width: 15%;">Referencia </th>
                        <th style="width: 15%;">Vencimiento </th>
                        <th style="width: 28%;">Importe </th>
                        <th>Acción</th>

                    </tr>

                </thead>
                <tbody class="items"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><h2>Total: &nbsp;</h2></td>
                        <td><span id="lote_detalle_total">0.00</span></td>

                    </tr>
                </tfoot>
            </table>
            {{ form_rest(form) }}


            <div class="clear"></div>

            <button  class="btn btn-mini add_item" style="margin-top: 13px; display: none;" data-coleccion-add-btn-det="" >
                <span class="icon-plus-sign"></span> Agregar
            </button>


        </div>
        <br>
        <div class="clear"></div>

    {% endspaceless %}
    {#{{ block('collection_js') }}#}
{% endblock collection_widget %}


{% block collection_item_widget %}
    {% spaceless %}

        <tr>
            {% set fieldNum = 1 %}
            <td style="text-align: center;">
                <div class="active">


                <a href="#"
                   class="info-barra"
                   data-content="?"
                   data-original-title="Mas detalle"  >
                    <span class="icon-zoom-in"></span>
                </a>
                </div>
            </td>
            <td>
                {{ form_widget(prototype.comprobante, { 'attr': { 'class': 'registro_comprobante' }}) }}
            </td>
            <td>
                {{ form_widget(prototype.referencia, { 'attr': { 'class': 'registro_referencia' }}) }}
            </td>
            <td>
                {{ form_widget(prototype.fecha, { 'attr': { 'class': 'registro_fecha' }}) }}
            </td>
            <td>
                {{ form_widget(prototype.importe, { 'attr': { 'class': 'importe' }}) }}
            </td>

            <td width="110px" style="text-align: center;">
                <button class="btn btn-mini btn-danger remove" data-coleccion-remove-btn-det="">
                    <span class="icon-trash icon-white"></span> Quitar
                </button>
                {{ form_widget(prototype.codigo_barra, { 'attr': { 'class': 'cbarra' }}) }}
                {{ form_widget(prototype.seccion, { 'attr': { 'class': 'seccion' }}) }}
                {{ form_rest(form) }}
            </td>
        </tr>

    {% endspaceless %}

{% endblock collection_item_widget %}

{% block collection_js %}


{% endblock collection_js %}


