{% extends '::layout.html.twig' %}
{% block id  "mod_responsable" %}

{% block title %}
    {{ parent() }} - Caja {{ 'views.index.list'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <section id="Responsable">
        <header>
            <h1>Responsables
                <div class="filters-right">
                    <a class="btn dropdown-toggle btn-mini" data-toggle="collapse" data-target="#filters">
                        {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                        <span class="caret"></span>
                    </a> &nbsp;
                </div>
                <div class="auth pull-right">
                    <span class="links">
                        <a href="../sitio/caja" target="_blank">Ayuda</a>
                     </span>
                </div>
            </h1>
        </header>
        {{ wo_render_breadcrumbs() }}
        <div class="row-fluid">
            <div class="span12">
                {% if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
                &nbsp;
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div id="filters" class="collapse">

                    <form class="well form-horizontal" action="{{ path('responsable') }}"
                          method="post" {{ form_enctype(filterForm) }}>

                        {{ form_row(filterForm.descripcion) }}
                        {{ form_row(filterForm.email) }}
                        {{ form_row(filterForm.detalle) }}
                        {{ form_row(filterForm.resumen) }}
                        {{ form_row(filterForm.activo) }}
                        {{ form_rest(filterForm) }}

                        <p>
                            <button type="submit" name="filter_action"
                                    value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                            <button type="submit" name="filter_action"
                                    value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">

                <table class="table table-striped table-bordered table-condensed">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Email</th>
                        <th>Detalle</th>
                        <th>Resumen</th>
                        <th>Activo</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('responsable_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.email }}</td>
                            <td style="text-align: center;">{{ entity.detalle == true ? 'SI' :'NO' }}</td>
                            <td style="text-align: center;">{{ entity.resumen == true ? 'SI' :'NO' }}</td>
                            <td style="text-align: center;">{{ entity.activo == true ? 'SI' :'NO' }}</td>
                            <td>
                                <a class="btn btn-mini" href="{{ path('responsable_show', { 'id': entity.id }) }}">
                                    {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                                </a>
                                <a class="btn btn-mini" href="{{ path('responsable_edit', { 'id': entity.id }) }}">
                                    {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                {{ pagerHtml|raw }}
            </div>

            <div class="span2">
                <a class="btn btn-primary likepaginator" href="{{ path('responsable_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Responsable
                </a>
            </div>

        </div>

    </section>
{% endblock %}
