<div class="span3">
    <aside>
        <nav>

            <ul class="nav">
                {% if esCajero() %}
                    <li class="selected">
                        <a href=""><i class="icon-play"></i>Monitor</a>
                    </li>
                {% endif %}

                {% if esCajero() and tieneApertura() %}
                    <li>
                        <a href=""><i class="icon-th-list icon-white"></i>Registro</a>
                    </li>
                {% endif %}

                {% if esCajero() %}
                    <li>
                        <a href="{{ path('apertura') }}"><i class="icon-font icon-white"></i>Apertura</a>
                    </li>
                {% endif %}

                {% if esCajero() and tieneApertura() %}
                    <li>
                        <a href="{{ path('apertura_cierre') }}"><i class="icon-user icon-white"></i>Cierre</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN')  %}
                <li>
                    <a href="{{ path("caja") }}"><i class="icon-retweet icon-white"></i>Caja</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')  %}
                <li>
                    <a href="{{ path("larparametro") }}"><i class="icon-retweet icon-white"></i>Tablas</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')  %}

                <li>
                    <a href="{{ path("codigobarra") }}"><i class="icon-barcode icon-white"></i>Codigo de Barra</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')  %}
                <li>
                    <a href="{{ path("usuario") }}"><i class="icon-user icon-white"></i>Usuarios</a>
                </li>
                {% endif %}




            </ul>

        </nav>
    </aside>
</div>