<div class="span3">
    <aside>
        <nav>

            <ul class="nav">
                {% if esCajero() %}
                    <li class="monitor">
                        <a href="{{ path('apertura_monitor') }}"><i class="icon-eye-open icon-white"></i>Monitor</a>
                    </li>
                {% endif %}

                {% if esCajero() and tieneApertura() %}
                    <li class="registro">
                        <a href="{{ path('registro') }}"><i class="icon-th-list icon-white"></i>Registro</a>
                    </li>
                {% endif %}

                {% if esCajero() %}
                    <li class="apertura">
                        <a href="{{ path('apertura') }}"><i class="icon-font icon-white"></i>Apertura</a>
                    </li>
                {% endif %}

                {% if esCajero() and tieneApertura() %}
                    <li class="cierre">
                        <a href="{{ path('apertura_cierre') }}"><i class="icon-pencil icon-white"></i>Cierre</a>
                    </li>
                {% endif %}

                {% if esCajero() and tieneApertura() %}
                    <li class="anular">
                        <a href="{{ path("apertura_anulado") }}"><i class="icon-trash  icon-white"></i>Anular Comp.</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="caja">
                        <a href="{{ path("caja") }}"><i class="icon-retweet icon-white"></i>Caja</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="feriado">
                        <a href="{{ path("feriado") }}"><i class="icon-text-width icon-white"></i>Días Feriados</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="responsable">
                        <a href="{{ path("responsable") }}"><i class="icon-check icon-white"></i>Responsables</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="tipopago">
                        <a href="{{ path("tipopago") }}"><i class="icon-text-width icon-white"></i>Tipos de Pago</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="larparametro">
                        <a href="{{ path("larparametro") }}"><i class="icon-tasks icon-white"></i>Tablas</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}

                    <li class="codigobarra">
                        <a href="{{ path("codigobarra") }}"><i class="icon-barcode icon-white"></i>C&oacute;digo de Barra</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="usuario">
                        <a href="{{ path("usuario") }}"><i class="icon-user icon-white"></i>Usuarios</a>
                    </li>
                {% endif %}


            </ul>

        </nav>
    </aside>
</div>