{% extends '::layout.html.twig' %}
{% block id  'mod_Diego' %}
{% block title %}
{{ parent() }} - Diego {{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<section id="form_Diego">
    <header>
        <h1>Diego {{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </header>
    {{ wo_render_breadcrumbs() }}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %} 
            <div class='alert alert-{{ type }}'> 
             {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </div> 
        {% endfor %} 
    {% endfor %} 
    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal"
                  action="{{ path('diego_update', { 'id': entity.id }) }}"
                  method="post" {{ form_enctype(edit_form) }}>
                {{ form_widget(edit_form) }}
                <p>
                    <button type="submit"
                            class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>
        <div class="row-fluid">
    <div class="offset1 span2">
        <a class="btn" href="{{ path('diego') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('diego_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div></section>
{% endblock %}