{% form_theme edit_form 'SistemaCajaBundle:Form:fields.html.twig' %}


<div class="row-fluid">
    <div class="span6">
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.empresa) }}
    </div>
    <div class="span6">
        {{ form_row(edit_form.identificador) }}
        {{ form_row(edit_form.valor) }}
        {{ form_row(edit_form.longitud) }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class=" control-group " id="caja_sistemacajabundle_codigobarratype_posiciones_control_group">
            <legend>
                <a href="#" id="ayuda1" class="text-info" style="float: right"
                   data-original-title="Ayuda de Posiciones"
                   data-placement="left"
                   data-idcontenido="ayuda-pos"
                   rel="popover">
                    <i class="icon-question-sign"></i> Ayuda</a>
                Posiciones
            </legend>
            <div class=" controls">
                <div id="ayuda-pos" style="display: none;">
                    <p>Las definicion de posiciones permite leer e interpretar el codigo de barra para el cual esta definido, .

                    </p>

                    <h5>Expresiones de ejemplo</h5>
                    <table width="100%" cellpadding=5 border="1" >
                        <tr>
                            <td style="width: 40%;">aFechaAADDD( [13] )</td>
                            <td style="width: 60%;">Convierte a fecha la expresion de la posicion [13]</td>
                        </tr>
                        <tr>
                            <td>sumarAFecha( aFechaAADDD( [13] ), [41])</td>
                            <td>Suma a la fecha generada igual al ejemplo anterior, el valor del la expresion [41]</td>
                        </tr>
                        <tr>
                            <td>[5].00/100</td>
                            <td>Al numero de la expresion de la posicion 5 se le divide por 100 </td>
                        </tr>
                        <tr>
                            <td>([5].00 + [35].00)/100</td>
                            <td>Se suma el numero de la expresion de la posicion 5 y 35 a estos se le divide por 100 </td>
                        </tr>


                    </table>


                </div>
                {{ form_errors(edit_form.posiciones) }}
                {{ form_widget(edit_form.posiciones) }}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div id="caja_sistemacajabundle_codigobarratype_vtos_importes_control_group" class=" control-group ">
            <legend>
                <a href="#" id="ayuda1" class="text-info" style="float: right"
                   data-original-title="Ayuda de Vencimientos e importe"
                   data-placement="left"
                   data-idcontenido="ayuda-vto"
                   rel="popover">
                    <i class="icon-question-sign"></i> Ayuda</a>
                Vencimientos e Importes
            </legend>

            <div class=" controls">
                <div id="ayuda-vto" style="display: none;">
                    <p>Vencimientos e importes sirve para determinar de todos los atributos leidos, cuales de estos son vencimientos e importes,
                        pudiendo haber mas de un par de estos.

                    </p>
                    <h5>Para obtener valores del codigo de barra</h5>
                    <ul>
                        <li>
                            <strong>[n]</strong>: donde n es la posicion de la tabla Posiciones, no se debe completar con
                            cero ni espacios.<br>
                            Ejemplos:
                            <ul>
                                <li>correctos: [1], [50], [101].</li>
                                <li>incorrecto [01], [&nbsp; 2], [&nbsp;&nbsp;3&nbsp;&nbsp;  ].</li>
                                <li>Para indicar que es un numero agregue despues del cierre del corchete, la expresion ".00". Ejempl0: [5].00</li>
                            </ul>
                        </li>
                    </ul>

                    <h5>Funciones disponibles</h5>
                    <ul>
                        <li><strong>aFechaAADDD(valor)</strong> Convierta a fecha el valor pasado tiene
                            que ser año de dos digito y el dia dentro del año. Ej.: aFechaAADDD([5])
                        </li>
                        <li><strong>aFechaAAMMDD(valor)</strong> Convierta el valor pasado con el formado AAMMDD a fecha</li>
                        <li><strong>aFechaDDMMAA(valor)</strong> Convierta el valor pasado con el formado DDMMAA a fecha</li>
                        <li><strong>sumaAFecha(fecha,n)</strong> suma a una fecha el valor n, que indicarian dias a sumar</li>
                    </ul>
                    <h5>Expresiones de ejemplo</h5>
                        <table width="100%" cellpadding=5 border="1" >
                            <tr>
                                <td style="width: 40%;">aFechaAADDD( [13] )</td>
                                <td style="width: 60%;">Convierte a fecha la expresion de la posicion [13]</td>
                            </tr>
                            <tr>
                                <td>sumarAFecha( aFechaAADDD( [13] ), [41])</td>
                                <td>Suma a la fecha generada igual al ejemplo anterior, el valor del la expresion [41]</td>
                            </tr>
                            <tr>
                                <td>[5].00/100</td>
                                <td>Al numero de la expresion de la posicion 5 se le divide por 100 </td>
                            </tr>
                            <tr>
                                <td>([5].00 + [35].00)/100</td>
                                <td>Se suma el numero de la expresion de la posicion 5 y 35 a estos se le divide por 100 </td>
                            </tr>


                        </table>


                </div>
                {{ form_errors(edit_form.vtos_importes) }}
                {{ form_widget(edit_form.vtos_importes) }}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        {{ form_row(edit_form.observacion) }}
        {{ form_widget(edit_form) }}

    </div>
</div>





