{% extends '::layout.html.twig' %}

{% block title %}
{{ parent() }} - CodigoBarra {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<section id="new_CodigoBarra">
    <header>
        <h1>CodigoBarra {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </header>
    {{ wo_render_breadcrumbs() }}
    <div class="row-fluid">
        <div class="span12">

            <form class="form-horizontal" action="{{ path('codigobarra_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </div>
            </form>
        </div>
    </div>
        <div class="row-fluid">
    <div class="span12">
    <div class="offset2 span2">
        <a class="btn" href="{{ path('codigobarra') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    </div>
</div>
</section>

{% endblock %}