{% extends '::layout.html.twig' %}
{% block id 'mod_cierre' %}

{% block title %}
    {{ parent() }} - Cierre de Caja
{% endblock %}

{% block page %}

    <section id="form_Apertura">

        <header>
            <h1>Cierre de Caja  - {{ caja.nombre }}
                <div class="auth pull-right">
                    <span class="links">
                        <a href="../sitio/cierre" target="_blank">Ayuda</a>
                     </span>
                </div>
                <div class="ayuda pull-right">
                    <a href="#" data-ayuda="{{ path("pagina_estatica", {pagina: "cierre"}) }}"><img src="{{ asset("img/ayuda.png" ) }}" />
                    </a>
                </div>
            </h1>
        </header>
        {{ wo_render_breadcrumbs() }}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class='alert alert-{{ type }}'>
                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row-fluid">
            <div class="span12">
                <form id="form_cierre" class="form-horizontal" action="{{ path('apertura_cierre') }}"
                      method="post" {{ form_enctype(edit_form) }}>
                    <ul class="errorMessages"></ul>
                    {{ form_widget(edit_form) }}
                    <div class="form-actions">
                        <button type="submit"
                                class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button class="btn" type="reset">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <div><form id="form_envio_mail" action="{{ path('apertura_envio_mail') }}" method="post" {{ form_enctype(edit_form) }}></form></div>
    </section>

    {% block javascriptshead %}
        <script src="{{  asset('js/jquery.form.min.js') }}"></script>
        <script src="{{  asset('js/deployJava.js') }}"></script>
    {% endblock %}

    <script>

        var attributes = {
            code:       "applet.Main",
            archive:    "{{  asset('SerialLar.jar')}}",
            width:      5,
            height:     5,
            id:			'SerialLar',
            visible: false
        };
        var parameters = {separate_jvm:"true", draggable:"true", jnlp_href:"{{  asset('SerialLar.jnlp') }}", puerto: "{{ caja.puerto }}"}; <!-- Applet Parameters -->
        var version = "1.5"; <!-- Required Java Version -->
        deployJava.runApplet(attributes, parameters, version);
    </script>

    <script>
        $(function() {
            $("#form_cierre").submit(function(e){
                e.preventDefault();
                $.blockUI({ message: "Imprimiendo ticket..." });
                $("#form_cierre").ajaxSubmit({
                    dataType: 'json',
                    success: function(data, statusText, xhr, $form){

                        if(statusText == 'success'){
                            if(data.ok == 1){
                                imprimirSerial(data.tk);
                                //Despues de imprimir, mando el mail como una llamada ajax separada:
                                $.unblockUI();
                                envioMail();
                            }
                            else if(data.ok != 1){
                                $.unblockUI();
                                alert('Mensaje de error: ' + data.msg);
                            }
                        }
                    },
                    error: function(data){
                        $.unblockUI();
                        alert('Mensaje de error al imprimir: ' + data.msg + '. Ticket: ' + data.tk);

                    }
                });

                return false;
            });
        });

        /**
         * Manda a la impresora fiscal.
         * @param data
         */
        imprimirSerial = function(data){
            var pser = document.SerialLar;
            try {
                //Particiono la variable tk recibida, para evitar el llenado del buffer:
                for (var i=0;i<data.length; i+=500) {
                    var t = new Date().getTime();
                    while ((new Date().getTime()) -t < 1000) {
                        //alert('timer');
                    }

                    pser.escribir(data.substr(i, 500));
                }
                $.unblockUI();
            } catch (e) {
                $.unblockUI();
                alert('Error de tipo: ' + e);
            }
        }
		
		function noticia(parm, tipo){
				if(tipo >0){
					$.msgBox({
						title: "Error TICKETADORA",
						content: parm,
						type: "error",
						success: function (result) {
							window.location = "{{ path("apertura_monitor")}}";
						}
					});
				}else{
					$("#msgBarra").html("TICKET: "+parm);
				}
				
			}

        /**
         * Envia el mail correspondiente
         */
         envioMail = function() {
             $.blockUI({ message: "Enviando mail..." });
             $("#form_envio_mail").ajaxSubmit({
                 dataType: 'json',
                 success: function(data, statusText, xhr, $form){

                     if(statusText == 'success'){
                         if(data.ok == 1){
                             // Todo ok, por ultimo, redirigir a la ventana de apertura:
                             $.unblockUI();
                             window.location = "{{ path('apertura') }}";
                         }
                         else if(data.ok != 1){
                             $.unblockUI();
                             alert('Error al enviar el mail correspondiente');
                         }
                     }
                 },
                 error: function(data){
                     $.unblockUI();
                     alert('Error al enviar el mail correspondiente.');
                 }
             });
         }

    </script>
{% endblock %}