{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Cierre de Caja  }}
{% endblock %}

{% block page %}

    <section id="form_Apertura">

        <header>
            <h1>Cierre de Caja</h1>
        </header>
        {{ wo_render_breadcrumbs() }}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class='alert alert-{{ type }}'>
                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" action="{{ path('apertura_cierre') }}"
                      method="post" {{ form_enctype(edit_form) }}>
                    <ul class="errorMessages"></ul>
                    {{ form_widget(edit_form) }}
                    <div class="form-actions">
                        <button type="submit"
                                class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button class="btn" type="reset">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>



    </section>

{% endblock %}