{% extends '::layout.html.twig' %}
{% block id 'mod_cierre' %}

{% block title %}
    {{ parent() }} - Cierre de Caja
{% endblock %}

{% block page %}

    <section id="form_Apertura">

        <header>
            <h1>Cierre de Caja  - {{ caja.nombre }}
                <div class="auth pull-right">
                    <span class="links">
                        <a href="../sitio/cierre" target="_blank">Ayuda</a>
                     </span>
                </div>
                <div class="ayuda pull-right">
                    <a href="#" data-ayuda="{{ path("pagina_estatica", {pagina: "cierre"}) }}"><img src="{{ asset("img/ayuda.png" ) }}" />
                    </a>
                </div>
            </h1>
        </header>
        {{ wo_render_breadcrumbs() }}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class='alert alert-{{ type }}'>
                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row-fluid">
            <div class="span12">
                <form id="form_cierre" class="form-horizontal" action="{{ path('apertura_cierre') }}"
                      method="post" {{ form_enctype(edit_form) }}>
                    <ul class="errorMessages"></ul>
                    {{ form_widget(edit_form) }}
                    <div class="form-actions">
                        <button type="submit"
                                class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button class="btn" type="reset">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <div><form id="form_envio_mail" action="{{ path('apertura_envio_mail') }}" method="post" {{ form_enctype(edit_form) }}></form></div>
        {% include 'SistemaCajaBundle:Apertura:_cierre.js.twig' %}
    </section>

    {% block javascriptshead %}
        <script src="{{  asset('js/jquery.form.min.js') }}"></script>
        <script src="{{  asset('js/deployJava.js') }}"></script>
    {% endblock %}

    <script>

        var bOpen = 0;
        var impresoraOK = 0; // de inicio no esta ok, verificar estado
        var esperandoEstado = 1;

        var attributes = {
            code:       "applet.Main",
            archive:    "{{  asset('SerialLar.jar')}}",
            width:      5,
            height:     5,
            id:			'SerialLar',
            visible: false
        };
        var parameters = {separate_jvm:"true", draggable:"true", jnlp_href:"{{  asset('SerialLar.jnlp') }}", puerto: "{{ caja.puerto }}"}; <!-- Applet Parameters -->
        var version = "1.5"; <!-- Required Java Version -->
        deployJava.runApplet(attributes, parameters, version);

        function noticia(parm, tipo) {
            esperandoEstado = 0;
            if(tipo == 0) {
                impresoraOK = 1;
            }else if (tipo == 1) {
                bOpen = 1
                $.msgBox({
                    title: "Error TICKETADORA",
                    content: parm,
                    type: "alert",
                    autoClose: true,
                    timeOut: 2000,
                    showButtons: false,
                    success: function (result) {
                        //window.location = "{{ path("apertura_monitor")}}";
                        bOpen = 0;
                        impresoraOK = 0;
                    }
                });
            }else if (tipo == 2) {
                bOpen = 1;
                $.msgBox({
                    title: "Error TICKETADORA",
                    content: parm,
                    type: "error",
                    success: function (result) {
                        bOpen = 0;
                        impresoraOK = 0;
                        window.location = "{{ path("apertura_monitor")}}";
                    }
                });
            } else {
                impresoraOK = 1;
                $("#msgBarra").html("TICKET: " + parm+ " "+tipo);
            }
        }
    </script>
{% endblock %}